version: '3.1'
services:
  web:
    image: odoo:17.0
    depends_on:
      - db
    # Ports 8069 is now handled by nginx
    expose:
      - "8069"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo_password
    restart: always

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo_password
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    restart: always

  db_backup:
    image: prodrigestivill/postgres-backup-local
    restart: always
    volumes:
      - ./backups:/backups
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo_password
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=4
      - BACKUP_KEEP_MONTHS=6

  filestore_backup:
    image: alpine:latest
    restart: always
    volumes:
      - odoo-web-data:/var/lib/odoo:ro
      - ./backups/filestore:/backups
    command: >
      sh -c "apk add --no-cache tar &&
             echo '0 1 * * * tar -czf /backups/filestore_$(date +\%Y\%m\%d).tar.gz /var/lib/odoo' > /etc/crontabs/root &&
             crond -f"

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - web
    restart: always

volumes:
  odoo-web-data:
  odoo-db-data:
